GUI/GUI.json
[
    {
        "id": "6da6132dd25c14d5",
        "type": "tab",
        "label": "Robot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4dabdb7f667aca7",
        "type": "ui_button",
        "z": "6da6132dd25c14d5",
        "name": "",
        "group": "3b88a2027df23249",
        "order": 2,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "UP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "U",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "f5fcc46b49242d6b"
            ]
        ]
    },
    {
        "id": "49ec29a8ff337e13",
        "type": "ui_button",
        "z": "6da6132dd25c14d5",
        "name": "",
        "group": "3b88a2027df23249",
        "order": 12,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "DOWN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "D",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "c772fb5cc1ddfd4e"
            ]
        ]
    },
    {
        "id": "f5f29ed11aba2f01",
        "type": "ui_button",
        "z": "6da6132dd25c14d5",
        "name": "",
        "group": "3b88a2027df23249",
        "order": 8,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "LEFT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "L",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "9899de86ea19335c"
            ]
        ]
    },
    {
        "id": "f8c2950d1e998792",
        "type": "ui_button",
        "z": "6da6132dd25c14d5",
        "name": "",
        "group": "3b88a2027df23249",
        "order": 10,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "RIGHT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "R",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "2d608d8bf647d098"
            ]
        ]
    },
    {
        "id": "5e130935a78a265e",
        "type": "ui_button",
        "z": "6da6132dd25c14d5",
        "name": "",
        "group": "3b88a2027df23249",
        "order": 9,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "GUN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "G",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "aeaef81a7a361683"
            ]
        ]
    },
    {
        "id": "f5fcc46b49242d6b",
        "type": "mqtt out",
        "z": "6da6132dd25c14d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85c664fa51d7c051",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "c772fb5cc1ddfd4e",
        "type": "mqtt out",
        "z": "6da6132dd25c14d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85c664fa51d7c051",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "9899de86ea19335c",
        "type": "mqtt out",
        "z": "6da6132dd25c14d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85c664fa51d7c051",
        "x": 350,
        "y": 440,
        "wires": []
    },
    {
        "id": "2d608d8bf647d098",
        "type": "mqtt out",
        "z": "6da6132dd25c14d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85c664fa51d7c051",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "aeaef81a7a361683",
        "type": "mqtt out",
        "z": "6da6132dd25c14d5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85c664fa51d7c051",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "20dbc38d03b7f73d",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "0fcf798440f42878",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "956c9571f16b3e14",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "d1a1c8fa156055bd",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "eaa41aae88ccc06f",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "329d73222aeede8a",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "bcc1f1460ec4bf07",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "7324a80b8b4139fc",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "222ca1d7639b7e2a",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "5fc2d1e3537f25d0",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "8e03d53ef2484db6",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "2f6d347f5d6bd02b",
        "type": "ui_spacer",
        "z": "6da6132dd25c14d5",
        "name": "spacer",
        "group": "3b88a2027df23249",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "3b88a2027df23249",
        "type": "ui_group",
        "name": "Botones",
        "tab": "c12ca45a9dd4d9fa",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "85c664fa51d7c051",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c12ca45a9dd4d9fa",
        "type": "ui_tab",
        "name": "GUIRobot",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]